@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.main{
    width: 100%;
    height: 900px;
    background-color: #ddddff;
}
.lsl{
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.lsl h3{
    margin-bottom: 10px;
    font-size: 30px;
}
.div1{
    margin-bottom: 5px;
    width: 50px;
    height: 4px;
    background-color: blue;
    border-radius: 50px;
}
.div2{
    width: 20px;
    height: 4px;
    background-color: blue;
    border-radius: 50px;
}
.image-lsl{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px 0px 0px 20px;
}
.image-lsl img{
    width: 80%;
    height: 90%;
    background-position: center;
    border-radius: 20px;
}
.infos-lsl{
    width: 30%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
}
.infos{
    width: 85%;
    height: 90%;
}
.infos h2{
    margin: 0px;
    text-align: center;
    font-size: 30px;
    color: blue;
}
.infos p{
    margin: 12px;
    color: #222222;
}
.infos h3{
    text-align: center;
    font-weight: 500;
}
.about-lsl{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    border-radius: 20px;
}

.footer1{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer1 p{
    color: blue;
    margin: 3px;
    text-align: center;
}
.social-medias{
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-medias a{
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    background-color: blue;
    color:white;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.social-medias a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}